<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
        <dict>
            <key>Image</key>
            <string>hammer.jpg</string>
            <key>CorrectAnswer</key>
            <string>Hammer</string>
            <key>Answers</key>
            <array>
                <string>Screwdriver</string>
                <string>Hammer</string>
                <string>Saw</string>
                <string>Wrench</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>colosseum.jpg</string>
            <key>CorrectAnswer</key>
            <string>Rome</string>
            <key>Answers</key>
            <array>
                <string>Paris</string>
                <string>Milan</string>
                <string>Venice</string>
                <string>Rome</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>bigben.jpg</string>
            <key>CorrectAnswer</key>
            <string>London</string>
            <key>Answers</key>
            <array>
                <string>Dublin</string>
                <string>Manchester</string>
                <string>London</string>
                <string>Glasgow</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>louvre.jpg</string>
            <key>CorrectAnswer</key>
            <string>Paris</string>
            <key>Answers</key>
            <array>
                <string>Paris</string>
                <string>Lyon</string>
                <string>London</string>
                <string>Berlin</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>brandenburg.jpg</string>
            <key>CorrectAnswer</key>
            <string>Berlin</string>
            <key>Answers</key>
            <array>
                <string>Dublin</string>
                <string>Manchester</string>
                <string>Berlin</string>
                <string>Edinburgh</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>opera.jpg</string>
            <key>CorrectAnswer</key>
            <string>Sydney</string>
            <key>Answers</key>
            <array>
                <string>Sydney</string>
                <string>Melbourne</string>
                <string>Canberra</string>
                <string>Brisbane</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>spaceneedle.jpg</string>
            <key>CorrectAnswer</key>
            <string>Seattle</string>
            <key>Answers</key>
            <array>
                <string>Vancouver</string>
                <string>Seattle</string>
                <string>Denver</string>
                <string>Utah</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>paris.jpg</string>
            <key>CorrectAnswer</key>
            <string>Paris</string>
            <key>Answers</key>
            <array>
                <string>Paris</string>
                <string>Rome</string>
                <string>London</string>
                <string>Glasgow</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>rio.jpg</string>
            <key>CorrectAnswer</key>
            <string>Rio de Janeiro</string>
            <key>Answers</key>
            <array>
                <string>Buenos Aires</string>
                <string>Houston</string>
                <string>Rio de Janeiro</string>
                <string>Brasilia</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>moscow.jpg</string>
            <key>CorrectAnswer</key>
            <string>Moscow</string>
            <key>Answers</key>
            <array>
                <string>Munich</string>
                <string>Moscow</string>
                <string>Belfast</string>
                <string>Belgrad</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>pisa.jpg</string>
            <key>CorrectAnswer</key>
            <string>Pisa</string>
            <key>Answers</key>
            <array>
                <string>Florence</string>
                <string>Rome</string>
                <string>Venice</string>
                <string>Pisa</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>temple.jpg</string>
            <key>CorrectAnswer</key>
            <string>Athens</string>
            <key>Answers</key>
            <array>
                <string>Athens</string>
                <string>Piraeus</string>
                <string>Sparta</string>
                <string>Thessaloniki</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>budapest.jpg</string>
            <key>CorrectAnswer</key>
            <string>Budapest</string>
            <key>Answers</key>
            <array>
                <string>Dublin</string>
                <string>Budapest</string>
                <string>Bukarest</string>
                <string>Moscow</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>amsterdam.jpg</string>
            <key>CorrectAnswer</key>
            <string>Amsterdam</string>
            <key>Answers</key>
            <array>
                <string>Dublin</string>
                <string>Stuttgart</string>
                <string>Brussels</string>
                <string>Amsterdam</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>piazza.jpg</string>
            <key>CorrectAnswer</key>
            <string>Venice</string>
            <key>Answers</key>
            <array>
                <string>Amsterdam</string>
                <string>Venice</string>
                <string>Rome</string>
                <string>Florence</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>vienna.jpg</string>
            <key>CorrectAnswer</key>
            <string>Vienna</string>
            <key>Answers</key>
            <array>
                <string>Salzburg</string>
                <string>Vienna</string>
                <string>Innsbruck</string>
                <string>Graz</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>newyork.jpg</string>
            <key>CorrectAnswer</key>
            <string>New York</string>
            <key>Answers</key>
            <array>
                <string>New York</string>
                <string>Quebec</string>
                <string>Seattle</string>
                <string>Seoul</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>dubai.jpg</string>
            <key>CorrectAnswer</key>
            <string>Dubai</string>
            <key>Answers</key>
            <array>
                <string>Abu Dhabi</string>
                <string>Dubai</string>
                <string>Al Ain</string>
                <string>Sharjah</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>munich.jpg</string>
            <key>CorrectAnswer</key>
            <string>Munich</string>
            <key>Answers</key>
            <array>
                <string>Munich</string>
                <string>Manchester</string>
                <string>Berlin</string>
                <string>Glasgow</string>
            </array>
        </dict>
        <dict>
            <key>Image</key>
            <string>jerusalem.jpg</string>
            <key>CorrectAnswer</key>
            <string>Jerusalem</string>
            <key>Answers</key>
            <array>
                <string>Tel Aviv</string>
                <string>Tunis</string>
                <string>Marrakesh</string>
                <string>Jerusalem</string>
            </array>
        </dict>
	</array>
</dict>
</plist>
